/* General styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    transition: background 0.5s;
}

/* Container Styling */
h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

/* Table Styling */
table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    border: 2px solid #ccc;
    padding: 12px;
    text-align: left;
}

table th {
    background: #f9f9f9;
    color: #333;
}

table tr:nth-child(even) {
    background: #f9f9f9;
}

table tr {
    color: #724040;
}



table tr:hover {
    background: #f1f1f1;
}

/* Message Styling */
.message {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

/* Color-coded results */
.safe {
    background-color: #d4edda; /* Light green */
    color: #01d26a;           /* Dark green text */
}

.unsafe {
    background-color: #f7cdd1; /* Light red */
    color: red;           /* Dark red text */
}

/* Error Message */
.error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    form {
        width: 90%;
    }

    table {
        width: 100%;
    }
}
